<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncu.sysweb.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ncu.sysweb.entity.UserEntity" >
        <id column="id_user" property="id" jdbcType="INT" />
        <result column="jobnum" property="jobNum" jdbcType="CHAR" />
        <result column="password" property="passWord" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id_user, jobnum, password
    </sql>
    <select id="getAll" resultType="BaseResultMap">
        select * from  USER
    </select>
</mapper>